@using KanbanBoardBlazor.Shared

<div class="card" style="border-left: 3px solid @priorityClass; min-width: 256px;">
    <div class="card-body">

        @if (issue.Customers != null && issue.Customers.Any())
        {
            <h6 class="card-title text-muted font-weight-bold">
                @for (var i = 0; i < issue.Customers.Count; i++)
                {

                    @issue.Customers[i].Name
                    if (i < issue.Customers.Count - 1)
                    {
                        <text>, </text>
                    }
                    @*<span class="badge bg-lime black">Support</span>*@
                }
                @*<span class="float-right">Overview</span>*@
            </h6>
        }
        <h6 class="card-subtitle">@issue.Title</h6>
        <div>
            @foreach (var tag in issue.Tags ?? Enumerable.Empty<TagDto>())
            {
                <span class="badge @tag.CssClass">@tag.Text</span><text>&nbsp;</text>
                @*<span class="badge bg-lime black">Support</span>*@
            }
        </div>
        <span class="card-text text-muted">

            @foreach (var user in issue.Assignees ?? Enumerable.Empty<UserDto>())
            {
                @*<a class="btn btn-secondary e-round">@user.username</a>*@
                <SfButton CssClass="e-round btn-secondary">@user.Initials</SfButton>
            }

        </span>
        <span class="card-text float-right text-muted">@issue.Deadline?.ToString("d/M/yyyy")</span>
    </div>
</div>

@code {
    [Parameter]
    public IssueDto issue { get; set; }

    private string priorityClass =>
      issue.Priority == Priority.Low ? "#28a745" :
      issue.Priority == Priority.Medium ? "#007bff" :
      issue.Priority == Priority.High ? "#ffc107" :
      issue.Priority == Priority.Critical ? "#dc3545" :
      "badge-secondary";
}
