@page "/issues"
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Grids

<h3>Issues</h3>

@if (issues != null)
{
    <SfTab ShowCloseButton="false">
        <TabItems>
            <TabItem>
                <HeaderTemplate>
                    <span @onclick="OnOpenTabClicked">@openCount Open</span>
                </HeaderTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>
                    <span @onclick="OnCloseTabClicked">@closedCount Closed</span>
                </HeaderTemplate>
            </TabItem>
        </TabItems>
    </SfTab>

    <SfGrid DataSource="@chosenissues" Height="370" EnableAltRow="true" AllowPaging="true"
            AllowSorting="true" AllowFiltering="true" AllowGrouping="true" AllowReordering="true"
            AllowSelection="true" EnablePersistence="true">
        <GridPageSettings PageSize="10"></GridPageSettings>

        <GridColumns>
            <GridColumn Field=@nameof(IssueDto.Title) Width="60" TextAlign="TextAlign.Left"></GridColumn>
            <GridColumn Field=@nameof(IssueDto.Deadline) Width="30" Format="dd/MM/yyyy" TextAlign="TextAlign.Center"></GridColumn>
            <GridColumn Field=@nameof(IssueDto.Priority) HeaderText="Priority" TextAlign="TextAlign.Left" Width="20">
                <Template>
                    @{
                        var issue = (context as IssueDto);

                        var priorityClass =
                            issue.Priority == Priority.Critical ? "badge-danger" :
                            issue.Priority == Priority.High ? "badge-warning" :
                            issue.Priority == Priority.Medium ? "badge-primary" :
                            "badge-success";

                        <span class="badge @priorityClass">
                            @issue.Priority
                        </span>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(IssueDto.CreatedAt) HeaderText="Created At" Width="30" Format="dd/MM/yyyy" TextAlign="TextAlign.Center"></GridColumn>
            <GridColumn Field=@nameof(IssueDto.UpdatedAt) HeaderText="Updated At" Width="30" Format="dd/MM/yyyy" TextAlign="TextAlign.Center"></GridColumn>
            <GridColumn Field="Application.Name" HeaderText="Application" Width="30" TextAlign="TextAlign.Left"></GridColumn>
            <GridColumn HeaderText="Assignees" TextAlign="TextAlign.Left" Width="30">
                <Template>
                    @{
                        var issue = (context as IssueDto);
                        <span class="card-text text-muted">
                            @foreach (var user in issue.Assignees)
                            {
                                <SfButton CssClass="e-round btn-secondary">@user.Initials</SfButton>
                            }
                        </span>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Tags" TextAlign="TextAlign.Left" Width="30">
                <Template>
                    @{
                        var issue = (context as IssueDto);
                        <div>
                            @foreach (var tag in issue.Tags)
                            {
                                <span class="badge @tag.CssClass">
                                    @tag.Text
                                </span>
                            }
                        </div>
                    }
                </Template>
            </GridColumn>
            <GridColumn HeaderText="Customers" TextAlign="TextAlign.Left" Width="30">
                <Template>
                    @{
                        var issue = (context as IssueDto);
                        <div>
                            @foreach (var customer in issue.Customers)
                            {
                                <p class="p-0 m-0 text-left">
                                    @customer.Name
                                </p>
                            }
                        </div>
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>
}
else
{
    <p><em>Loading...</em></p>
}
