@page "/kanban"
@using System.Text.Json
@*<div class="col-lg-12 control-section" id="target">*@


@*<button class="btn btn-light" @onclick="updateCard">update Card</button>*@

@if (project != null)
{

    <button class="btn btn-primary mb-3" @onclick="showAddCardDialog">Add Card</button>


    <SfKanban @ref="kanbanRef" TValue="IssueDto" KeyField="stageKey" DataSource="project.issues">
        <KanbanSortSettings SortBy="SortOrderBy.DataSourceOrder">
            
        </KanbanSortSettings>
        <KanbanColumns>
            @*@foreach (var stage in project.stages)
                {
                  <KanbanColumn HeaderText="@stage.title" KeyField="new List<string> { stage.key }"></KanbanColumn>
                }*@
            @foreach (var stage in project.stages.OrderBy(s => s.position))
            {
                <KanbanColumn HeaderText="@stage.title" KeyField="new List<string> { stage.stageKey }" AllowToggle="true"></KanbanColumn>
            }
        </KanbanColumns>
        <KanbanCardSettings HeaderField="issueId" ContentField="title">
            <Template>
                <Card issue="(IssueDto)context"></Card>
            </Template>
        </KanbanCardSettings>
        <KanbanDialogSettings Width="80%" ZIndex="10000000">
            <Template>
                @{
                    var issue = (IssueDto)context;

                    var test = issue.assignees != null ? issue.assignees.Select(a => a.userId).ToList() : null;

                    Console.WriteLine(JsonSerializer.Serialize(issue.assignees));
                    @if (issue.issueId != default(long))
                    {
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <SfTextBox Placeholder="Id" Value="@issue.issueId.ToString()" Readonly="true" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                        </div>

                        <div class="col-sm-4">
                            <SfDatePicker Placeholder="Created at" Value="@issue.createdAt" Readonly="true" FloatLabelType="FloatLabelType.Always" Format="d/M/yyyy"></SfDatePicker>
                        </div>
                        <div class="col-sm-4">
                            <SfDatePicker Placeholder="Updated at" Value="@issue.updatedAt" Readonly="true" FloatLabelType="FloatLabelType.Always" Format="d/M/yyyy"></SfDatePicker>
                        </div>
                    </div>
                    }
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <SfTextBox @ref="titleRef" Placeholder="Title" Value="@issue.title" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                        </div>
                        <div class="col-sm-6">
                            <SfMultiSelect @ref="assigneesRef" Placeholder="Assignees" Value="@test" FloatLabelType="FloatLabelType.Always" DataSource="users">
                                <MultiSelectFieldSettings Value="userId" Text="fullName"></MultiSelectFieldSettings>
                            </SfMultiSelect>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <SfDropDownList @ref="priorityRef" Placeholder="Priority" Value="@issue.priority" FloatLabelType="FloatLabelType.Always" DataSource="Enum.GetNames(typeof(Priority))"></SfDropDownList>
                        </div>
                        <div class="col-sm-6">
                            <SfDatePicker @ref="deadlineRef" Placeholder="Deadline" Value="@issue.deadline" FloatLabelType="FloatLabelType.Always" Format="d/M/yyyy"></SfDatePicker>

                        </div>
                    </div>

                    
                    <div class="form-group">
                        <SfTextBox @ref="descriptionRef" Placeholder="Description" Value="@issue.description" Multiline="true" FloatLabelType="FloatLabelType.Always"
                                   rows="7"></SfTextBox>
                    </div>
                }
            </Template>
        </KanbanDialogSettings>
        <KanbanEvents TValue="IssueDto" DialogClose="onDialogClose" ActionComplete="onActionComplete"></KanbanEvents>
    </SfKanban>
}
else
{
    <p><em>Loading...</em></p>
}


@*</div>*@