@page "/kanban"
@using KanbanBoardBlazor.Shared
@using Syncfusion.Blazor.Kanban

@*<button class="btn btn-primary" @onclick="addNewColumn">Add New Column</button>*@
<button class="btn btn-light" @onclick="showAddCardDialog">Add New Card</button>

<SfKanban @ref="kanbanRef" TValue="Issue" KeyField="stageKey" DataSource="issues">
    <KanbanColumns>
        @*@foreach (var stage in project.stages)
            {
              <KanbanColumn HeaderText="@stage.title" KeyField="new List<string> { stage.key }"></KanbanColumn>
            }*@
        @foreach (var col in cols)
        {
            <KanbanColumn HeaderText="@col.HeaderText" KeyField="col.KeyField"></KanbanColumn>
        }
    </KanbanColumns>
    <KanbanCardSettings HeaderField="id" ContentField="title">
        <Template>
            <Card issue="(Issue)context"></Card>
        </Template>
    </KanbanCardSettings>
    <KanbanDialogSettings>
        <Template>
            <Dialog issue="(Issue)context" isVisible="@isVisible"></Dialog>
        </Template>
    </KanbanDialogSettings>
    <KanbanEvents TValue="Issue" DialogClose="@onDialogClose" ActionComplete="@onDataBound"></KanbanEvents>
</SfKanban>
